Repository wires-org/wire, pull requests merged in 2025-04, with the labels that each got.

#114 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github / ci / meta

#102 docs: add installation steps & snippet check step
  doc/.vitepress/config.ts
  doc/.vitepress/theme/index.ts
  doc/assets/homemanager.svg
  doc/guide/getting-started.md
  doc/package.json
  doc/package.nix
  doc/pnpm-lock.yaml
  doc/snippets/default.nix
  doc/snippets/getting-started/cache.nix
  doc/snippets/getting-started/configuration.nix
  doc/snippets/getting-started/hm.flake.nix
  doc/snippets/getting-started/home.nix
  doc/snippets/getting-started/nix.conf
  doc/snippets/getting-started/nixos.flake.nix
  flake.nix
Labels: documentation

#93 init testing framework
  .envrc
  .github/workflows/test.yml
  flake.nix
  intergration-testing/default.nix
  intergration-testing/hive.nix
  intergration-testing/nixpkgs.nix
  tests/nix/default.nix
  tests/nix/suite/test_basic_deploy/default.nix
  tests/nix/suite/test_basic_deploy/hive.nix
  tests/nix/suite/utils.nix
  tests/nix/test-opts.nix
Labels: enhancement, github_actions, tests, nix

#130 add test_local_deploy
  tests/nix/default.nix
  tests/nix/suite/test_local_deploy/default.nix
  tests/nix/suite/test_local_deploy/hive.nix
Labels: tests, nix, release

#131 test remote keys
  CHANGELOG.md
  runtime/module.nix
  tests/nix/default.nix
  tests/nix/suite/test_basic_deploy/default.nix
  tests/nix/suite/test_basic_deploy/hive.nix
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/file.txt
  tests/nix/suite/test_remote_deploy/hive.nix
  tests/nix/suite/utils.nix
  tests/nix/tools.py
  wire/key_agent/src/main.rs
  wire/lib/src/hive/key.rs
Labels: github_actions, rust, tests, nix, release

#136 collect doc updates from broken spr prs
  doc/.vitepress/config.ts
  doc/.vitepress/theme/index.ts
  doc/guide/getting-started.md
  doc/guide/hive-default.md
  doc/guide/keys.md
  doc/guide/parallelism.md
  doc/guide/tagging.md
  doc/guide/targeting.md
  doc/guide/wire.md
  doc/package.json
  doc/package.nix
  doc/pnpm-lock.yaml
  doc/reference/meta.md
Labels: documentation, docs-page, nix, javascript, release
