Repository wires-org/wire, pull requests merged in 2025-06, with the labels that each got.

#169 set --no-progress automatically when non-interactive
  CHANGELOG.md
  wire/cli/src/cli.rs
Labels: documentation, github_actions, rust, nix, javascript, github / ci / meta, release

#184 remove myself from CODEOWNERS
  .github/CODEOWNERS
Labels: github / ci / meta, release

#185 use --replace-fail
  tests/nix/default.nix
Labels: tests, nix, release

#186 implement `deployment.target.hosts`
  CHANGELOG.md
  runtime/module.nix
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/hive.nix
  wire/cli/src/apply.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/lib.rs
Labels: rust, tests, nix, release

#187 switch to a makeHive model
  CHANGELOG.md
  doc/guide/getting-started.md
  doc/guide/hive-default.md
  doc/guide/keys.md
  doc/guide/targeting.md
  doc/reference/meta.md
  flake.nix
  justfile
  nix/shells.nix
  nix/utils.nix
  runtime/evaluate.nix
  runtime/makeHive.nix
  tests/nix/default.nix
  tests/nix/suite/test_keys/hive.nix
  tests/nix/suite/test_local_deploy/hive.nix
  tests/nix/suite/test_remote_deploy/hive.nix
  tests/nix/suite/utils.nix
  tests/rust/_keys_should_fail/hive.nix
  tests/rust/default_values_match/hive.nix
  tests/rust/flake_hive/flake.lock
  tests/rust/flake_hive/flake.nix
  tests/rust/non_trivial_hive/hive.nix
  tests/rust/test_hive_dot_nix_priority/hive.nix
  tests/rust/test_hive_file/hive.nix
  wire/cli/default.nix
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix.rs
  wire/lib/src/test_support.rs
Labels: documentation, docs-page, rust, tests, nix, release
